@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-stroke{
    -webkit-text-stroke: 0.8px #8900AB;
  }
  .imprima-regular {
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .slick-dots {
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    list-style: none;
  }
  
  .slick-dots li {
    margin: 0 2px; 
    padding: 0;
  } 
.customDot {
  width: 12px;
  height: 12px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  margin-bottom: 80px;
}

.slick-dots li.slick-active .customDot {
  background-color: #636262; 
}

.customDot2 {
  width: 8px;
  height: 8px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.slick-dots li.slick-active .customDot2 {
  background-color: #636262; 
}



  
}
